h1 Register

if (errors)
  ul
    each error in errors
      li=error

form(action="/auth/register" method="post")
  
  div
    label(for="name") name: 
    input(type="text" id="name" name="name")

  div
    label(for="email") email: 
    input(type="email" id="email" name="email")

  div
    label(for="password") password: 
    input(type="password" id="password" name="password")

  button(type="submit") Register

a(href="/auth/login") Login